/*Nav Bar*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
}
.menu-container{
    flex-grow: 1;
}
.menu{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.logo-container{
    flex-grow: 1;
    text-align: center;
    align-content: center;
}
.logo img{
    height: 100px;
    margin-right: 90px;
}
.search-container {
    flex-grow: 3;
    text-align: right;
    margin-right: 20px;
    
}
.search-form {
    display: flex;
    align-items: center;
    
  }

  
#search-bar {
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 60px;
    padding: 7px 13px;
    font-size: 14px;
    border-radius: 12px;
    border-color: #ffffff;
    background: rgba(195, 148, 255, 0.2);
    width: 80%;
    
}


header nav ul{
    justify-content: flex-start;
    margin-left:  20px; 
    border: 1px #C394FF;
}


header nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


header nav ul li a{
    color: white;
    font-size: 14px;
    padding: 3px 13px;
    border-radius: 9px;
    background: #C394FF;
}

a.active,a:hover{
    background: #2f1a4a;
    transition: .5s;
}

main {
    padding: 20px;
}
body {
    background-image: linear-gradient(rgba(177, 101, 234, 0.38), rgba(137, 0, 242, 0.20)), url('./background.jpg');
    background-size: cover;
  }
  

form {
    margin-bottom: 20px;
}


.books-container {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.container {
    position: relative;
  }
  
  .image-container {
    position: relative;
    height: 318px;
    background-image: url('book-club-meeting.png');
    background-size:1436px;
    background-position: center;
  }
  
  .image-text {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 50%;
    color: black;
    text-align: right;
    align-content: right;
    
  }
  
  .image-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .image-text p {
    font-size: 20px;
    margin-bottom: 20px;
    width: 400px;

    

}
  
  .subscription-form input {
    padding: 10px;
    border: none;
    margin-right: 10px;
    padding: 7px 13px;
    font-size: 14px;
    border-radius: 12px;
    border-color: #ffffff;
    background: rgba(195, 148, 255, 0.2);
    width: 50%;
  }
  
  .subscription-form button {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 7px 13px;
    font-size: 14px;
    border-radius: 12px;
    border-color: #ffffff;
    background: rgba(195, 148, 255, 0.2);
  }
  

  h2{
    font-family: 'Crimson Text', serif;
    color: #7000FF;
    font-size: 18px;
    padding: 7px 8px;
    border-radius: 12px;
    background: white;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 30%;
    
}


.book img {
    width: 95px;
    height: 140px;
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;  
    background: white;
}


.book p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;    
    border-radius: 8px;
    background: linear-gradient(to right, rgb(122, 62, 168), rgba(137, 0, 242, 0.20))
}

.grid-container {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    flex-direction: row;
}

/*Clearing Search Results */
.ghost {
    visibility: collapse;
}

.un-ghost {
    visibility: visible;
}

.search-form {
    align-self: center;
    width: 100%;
}

/*Footer*/
footer nav {
    background-color: #C394FF;
    align-content: center;
}

footer nav ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    
}

footer nav ul li {
    position: relative;
    display: inline-flex;
    align-items: center;
}

footer nav ul li a{
    color: rgb(84, 79, 79);
    font-size: 14px;
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #7000FF;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    top: 10%;
    left: 10%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    display: flex;
  }


.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}



  
