*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: #ffffff;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 85%;
    align-self: center;
    margin-left: 50px;
    margin-top: 80px;
}

button {
    padding: 10px;
    cursor: pointer;
}


/* Style the container for the list of books */
.books-container {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}



/* Style each individual book category */
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 30%;
}

/* Style the book image */
.book img {
    width: 120px;
    height: 200px;
}

/* Style the book title */
.book p {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.grid-container {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    flex-direction: row;
}

/*Disappearing the Search Results */
.ghost {
    visibility: collapse;
}

.un-ghost {
    visibility: visible;
}

.search-form {
    align-self: center;
    width: 100%;
}

/*Footer*/
footer {
    background-color: #C394FF;
    color:  rgb(24, 37, 17);
    padding: 20px;
    align-content: center;
}

footer nav ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

footer nav ul li {
    display: inline-flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 100px;
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}